html, body {
  height: 100%;
  height: 100%;
  overflow: hidden;
}

/* img {
  margin: 0 !important;
  max-height: 100%;
  max-width: 100%;
  height: calc(100vh - 0.5rem)!important;
} */

/* body > div.__markerjs2_.__markerjs2__0_ > div {
  height: 100vh;
}

body > div.__markerjs2_.__markerjs2__0_ > div > div:nth-child(2) {
  height: 100%;
} */

body > div.__markerjs2_.__markerjs2__0_ > div > div:nth-child(2) {
  height: calc(100vh - 72px);
  width: calc(100% - 1px);
  display: block !important;
}

body > div.__markerjs2_ > div > div:nth-child(2) > div {
  /* height: calc(100vh - 72px); */
  /* height: auto; */
  /* overflow: auto !important; */
  background-color: #ddd;
  width: fit-content;
  height: auto;
}

/* body > div.__markerjs2_.__markerjs2__0_ > div > div.__markerjs2__0_toolbar.__markerjs2__0_fade_in.__markerjs2__0_toolbar_colors > div:nth-child(4) > div:nth-child(1) {
  color: #fff;
  padding-right: 6rem;
  border-right: 2px solid #fff;
}

body > div.__markerjs2_.__markerjs2__0_ > div > div.__markerjs2__0_toolbar.__markerjs2__0_fade_in.__markerjs2__0_toolbar_colors > div:nth-child(4) > div:nth-child(2) {
  color: #fff !important;
  padding-right: 8rem;
}

body > div.__markerjs2_.__markerjs2__0_ > div > div.__markerjs2__0_toolbar.__markerjs2__0_fade_in.__markerjs2__0_toolbar_colors > div:nth-child(1) {
  padding-left: 8%;
}

body > div.__markerjs2_.__markerjs2__0_ > div > div.__markerjs2__0_toolbar.__markerjs2__0_fade_in.__markerjs2__0_toolbar_colors > div:nth-child(4) {
  padding-right: 8% !important;
  line-height: 1.25 !important;
  font-size: 15px;
} */

.__markerjs2_ img {
  margin: 0px !important;
}

/*css bottom toolbar*/
.__markerjs2__0_toolbox_colors {
  height: 32px;
  background-color: #111;
}

.__markerjs2__0_toolbox_button {
  height: 12px !important;
}

.__markerjs2__0_toolbox_button svg {
  height: 16px !important;
}

/********hide Powered by marker.js icon*********/
div.__markerjs2_ a[title="Powered by marker.js"] {
  display: none !important;
}

/***************************/