<div class="opBTN-group">

    <button class="btn op-BTNStyle fa fa-pause" title="Pause Recording" id="pause"></button>
    <button class="btn op-BTNStyle fa fa-stop" title="Stop & Save" id="stopandsave" ng-click='OperationStopFollowMe()'></button>
    <button class="btn op-BTNStyle fa fa-backward" title="Go Back" id="goback"></button>
    <button class="btn op-BTNStyle fa fa-refresh" title="Refresh browser" id="refreshbrowser"></button>
    <button class="btn op-BTNStyle fa fa-forward" title="Forword browser" id="forwordbrowser"></button>
</div>

<div id="divElement_View" ng-init="Load_View()"></div>