
.sprite2, #jstree-dnd .jstree-icon, .dataTypeIcon.DRsharedGreen {
    background: url('/icons/sprite/TreeIcons.png') no-repeat top left !important;
    width: 16px !important;
    height: 16px !important;
    display: inline-block !important
}

    .sprite2.jstree-icon {
        background-position: 0 -965px !important;
    }

    .sprite2.add_Black {
        background-position: 0 0 !important;
    }

    .sprite2.add_Red {
        background-position: 0 -26px !important
    }

    .sprite2.addFile {
        background-position: 0 -52px !important
    }

    .sprite2.add-method {
        background-position: 0 -78px !important
    }

    .sprite2.add-xml {
        background-position: 0 -104px !important
    }

    .sprite2.arrow_down_black {
        background-position: 0 -130px !important
    }

    .sprite2.arrow_up_black {
        background-position: 0 -156px !important
    }

    .sprite2.Build {
        background-position: 0 -182px !important
    }

    .sprite2.cancel_black {
        background-position: 0 -208px !important
    }

    .sprite2.checkbox {
        background-position: 0 -234px !important
    }

    .sprite2.Column {
        background-position: 0 -260px !important
    }

    .sprite2.Component {
        background-position: 0 -286px !important
    }

    .sprite2.copy {
        background-position: 0 -312px !important
    }

    .sprite2.cut {
        background-position: 0 -338px !important
    }

    .sprite2.DataRepository {
        background-position: 0 -364px !important
    }

    .sprite2.DataSet {
        background-position: 0 -390px !important
    }

    .sprite2.delete_black {
        background-position: 0 -416px !important
    }

    .sprite2.EventHandler {
        background-position: 0 -442px !important
    }

    .sprite2.Flow {
        background-position: 0 -468px !important
    }

    .sprite2.folder {
        background-position: 0 -494px !important
    }
    .sprite2.Impact {
        background-position: 0 -2544px !important;
    }
    .sprite2.Impact_Dimension {
        background-position: 0 -2469px !important;
    }
    .sprite2.Module {
        background-position: 0 -2794px !important;
    }
    .sprite2.SubModule {
        background-position: 0 -2818px !important;
    }
    .sprite2.Setup {
        background-position: 0 -3028px !important;
    }
    .sprite2.Module_Field {
        background-position: 0 -2677px !important;
    }
    .sprite2.Module_Trigger {
        background-position: 0 -2544px !important;
    }
    .sprite2.Module_Layout {
        background-position: 0 -2677px !important;
    }
    .sprite2.Field {
        background-position: 0 -2648px !important;
    }
    .sprite2.Trigger {
        background-position: 0 -3092px !important;
    }

    .sprite2.Layout {
        background-position: 0 -2677px !important;
    }
    .sprite2.get_Data {
        background-position: 0 -2701px !important;
    }
    .sprite2.Folder-impact {
        background-position: 0 -2567px !important;
    }

    .sprite2.folderAdd {
        background-position: 0 -520px !important
    }

    .sprite2.FunctionLibrary {
        background-position: 0 -546px !important
    }

    .sprite2.BDD_Gherkin_Stories, .sprite2.Gherkin {
        background-position: 0 -572px !important
    }

    .sprite2.jira {
        background-position: 0 -598px !important
    }

    .sprite2.JiraMapping {
        background-position: 0 -624px !important
    }

    .sprite2.Octane_Maped {
        background-position: 0px -1986px !important
    }

    .sprite2.NewTab {
        background-position: 0 -650px !important
    }

    .sprite2.ObjectRepository {
        background-position: 0 -676px !important
    }

    .sprite2.paste {
        background-position: 0 -702px !important
    }

    .sprite2.pin {
        background-position: 0 -728px !important
    }

    .sprite2.Remove_red {
        background-position: 0 -754px !important
    }

    .sprite2.replica {
        background-position: 0 -780.9px !important
    }

    .sprite2.rest {
        background-position: 0 -806px !important
    }

    .sprite2.right_arrow {
        background-position: 0 -832px !important;
        width: 25px !important;
        height: 19px !important;
    }

    .sprite2.SoapMethod, .sprite2.RestMethod {
        background-position: 0 -887px !important
    }

    .sprite2.OpKeyGenericKeyword {
        background-position: 0 -1646px !important
    }


    .sprite2.CustomKeyword {
        background-position: 0 -861px !important
    }

    .sprite2.right_arrow_green {
        background-position: 0 -913px !important
    }

    .sprite2.Selenium.WebDriver {
        background-position: 0 -965px !important;
    }

    .sprite2.SystemKeyword {
        background-position: 0 -939px !important;
    }

    .sprite2.Sikuli {
        background-position: 0 -965px !important;
    }
    /*.sprite2.OpKey.OracleEBS {background-position: 0 -1363px !important; }*/

    /*.sprite2.OpKeyMobility {background-position: 0 -1363px !important; }*/
    .sprite2.Robotium {
        background-position: 0 -965px !important;
    }

    .sprite2.ControlFlowConstruct {
        background-position: 0 -1363px !important
    }

    .sprite2.run-cloud {
        background-position: 0 -991px !important
    }

    .sprite2.save_color {
        background-position: 0 -1017px !important
    }

    .sprite2.ServiceRepository {
        background-position: 0 -1043px !important
    }

    .sprite2.Session {
        background-position: 0 -1069px !important;
    }

    .sprite2.soap {
        background-position: 0 -1095px !important
    }

    .sprite2.Sparkin {
        background-position: 0 -1121px !important
    }

    .sprite2.Suite {
        background-position: 0 -1147px !important
    }

    .sprite2.Tick {
        background-position: 0 -1173px !important;
        width: 50px !important;
        height: 50px !important
    }

    .sprite2.ubuntu {
        background-position: 0 -1233px !important;
    }

    .sprite2.Warning-icon {
        background-position: 0 -1259px !important;
        height: 14px !important;
    }

    .sprite2.win_icon {
        background-position: 0 -1283px !important;
    }

    .sprite2.win_max {
        background-position: 0 -1309px !important;
    }

    .sprite2.win_min {
        background-position: 0 -1335px !important;
    }

    .sprite2.edit-rename {
        background-position: 0 -1384px !important;
    }

    .sprite2.DeleteIcon {
        background-position: 0 -1409px !important;
    }
   

    .sprite2.shareGreen {
        background-position: 0 -1433px !important
    }

    .sprite2.shareGray {
        background-position: 0 -1455px !important;
    }

    .sprite2.DRsharedGreen {
        background-position: 0 -1476px !important;
    }

.dataTypeIcon.DRsharedGreen {
    background-position: 0 -1476px !important;
}

.sprite2.ORshareGreen {
    background-position: 0 -1497px !important;
}

.sprite2.ORshareGray {
    background-position: 0 -1518px !important;
}

.sprite2.SMPTSettings {
    background-position: 0 -1538px !important;
    width: 16px !important;
    height: 18px !important;
    float: left;
    margin-right: 4px;
}

.sprite2.TFS_locked {
    background-position: 0 -1558px !important;
}

.sprite2.TFS_Icon {
    background-position: 0 -1578px !important;
}

.sprite2.TFS_Maped {
    background-position: 0 -1598px !important;
}

.sprite2.OpKeyDesktop {
    background-position: 0 -965px !important;
}

.sprite2.UFT {
    background-position: 0 -965px !important;
}

.sprite2.label {
    background-position: 0 -2418px !important;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    border-radius: 0;
}

.sprite2.MBT {
    background-position: 0 -1778px !important;
}



/*.sprite2.CodedFunction,*/
.sprite2.alphaIcon,
.sprite2.betaIcon,
.sprite2.gammaIcon {
    background: none !important;
}

.sprite2.CodedFunction {
    background-position: 0 -1931px !important;
}

.jstree-default-dark .jstree-clicked .sprite2.CodedFunction:before, .jstree-default-dark .jstree-hovered .sprite2.CodedFunction:before {
    color: #50ff57;
}


.sprite2.QTest {
    background-position: 0 -1666px !important;
}

.sprite2.QTest_Maped {
    background-position: 0 -1689px !important;
}

.sprite2.QC {
    background-position: 0 -1731px !important;
}

.sprite2.QC_Maped {
    background-position: 0 -1753px !important;
}

.sprite2.SyncIcon {
    background-position: 0 -1710px !important;
}

.sprite2.MBTedge {
    background-position: 0 -1865px !important;
}

.sprite2.MBTnode {
    background-position: 0 -1889px !important;
}

.sprite2.Scheduler {
    background-position: 0 -1913px !important;
}
.sprite2.EnvSettings {
    background-position: 0 -3197px !important;
}

.sprite2.alphaIcon:before {
    content: "\03B1";
    background: none !important;
    font-size: 24px;
    line-height: 14px;
    display: block;
    text-align: center;
}

.sprite2.betaIcon:before {
    content: "\03B2";
    background: none !important;
    font-size: 18px;
    line-height: 14px;
    display: block;
    text-align: center;
}

.sprite2.gammaIcon:before {
    content: "\03B3";
    background: none !important;
    font-size: 18px;
    line-height: 11px;
    display: block;
    text-align: center;
    ;
}

.bp-sync.sprite2.SyncIcon {
    float: left;
    top: 1px;
    position: relative;
}


#jstree-dnd .jstree-icon.jstree-ok {
    background-position: 0 -1615px !important;
    position: relative;
    top: 5px;
}

#jstree-dnd .jstree-icon.jstree-er {
    background-position: 0 -1409px !important;
    position: relative;
    top: 5px;
}

.islocked .jstree-icon {
    position: relative;
}

    .islocked .jstree-icon:after {
        content: "";
        background-image: url(/icons/sprite/sm-lock-icon.png) !important;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: -2px;
        right: -2px;
        display: block;
        z-index: 1;
        /* background-color: #fff; */
        background-repeat: no-repeat;
        background-position: 2px 0px;
    }

.errorinArtifact {
    color: #ff3e3e !important;
    text-shadow: 0 0px 1px #fff !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-style: italic !important;
}

    .errorinArtifact .jstree-icon {
        position: relative;
    }

        .errorinArtifact .jstree-icon:before {
            content: "";
            width: 6px;
            height: 6px;
            display: block;
            position: absolute;
            /* background: #f00; */
            /* border-radius: 50%; */
            bottom: 1px;
            right: 2px;
            content: "\f071";
            font-family: FontAwesome;
            font-size: 9px;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            color: #ff3e3e !important;
            text-shadow: 0 0px 2px #fff;
        }

.jstree-default-dark .jstree-clicked.errorinArtifact .jstree-icon:before,
.jstree-default-dark .jstree-hovered.errorinArtifact .jstree-icon:before,
.k-state-selected .errorinArtifact .jstree-icon:before,
.jstree-default-dark .jstree-clicked.errorinArtifact,
.jstree-default-dark .jstree-hovered.errorinArtifact,
.k-state-selected .errorinArtifact {
    color: #ff9a5d !important;
    text-shadow: none !important;
}

.restricted {
    text-decoration: line-through !important;
}
/******************** ExecutionTreeIcon *************************/

.sprite3 {
    background: url('/icons/sprite/ExecutionTreeIcons.png') no-repeat top left !important;
    width: 16px !important;
    height: 16px !important;
    display: inline-block !important;
}

    .sprite3.Arrows {
        background-position: 0 0 !important;
    }

    .sprite3.Batch {
        background-position: 0 -26px !important;
    }

    .sprite3.bin {
        background-position: 0 -52px !important;
    }

    .sprite3.Build {
        background-position: 0 -78px !important;
    }

    .sprite3.Build_Trend {
        background-position: 0 -104px !important;
        width: 32px !important;
        height: 32px !important;
    }

    .sprite3.cameraIcon {
        background-position: 0 -146px !important;
        width: 24px !important;
        height: 24px !important;
    }

    .sprite3.CollapseTree {
        background-position: 0 -180px !important;
    }

    .sprite3.curley-brackets-hi {
        background-position: 0 -206px !important;
        height: 15px !important;
    }

    .sprite3.editnote {
        background-position: 0 -231px !important;
    }

    .sprite3.Execution {
        background-position: 0 -257px !important;
        width: 24px !important;
        height: 24px !important;
    }

    .sprite3.Expand1 {
        background-position: 0 -291px !important;
    }

    .sprite3.false {
        background-position: 0 -317px !important;
    }

    .sprite3.filter {
        background-position: 0 -343px !important;
    }

    .sprite3.folder {
        background-position: 0 -369px !important;
    }

    .sprite3.popout {
        background-position: 0 -395px !important;
    }

    .sprite3.ProjectFolder {
        background-position: 0 -421px !important;
        width: 24px !important;
        height: 24px !important;
    }

    .sprite3.report {
        background-position: 0 -455px !important;
    }

    .sprite3.result-pass {
        background-position: 0 -481px !important;
    }

    .sprite3.run-debug {
        background-position: 0 -507px !important;
    }

    .sprite3.run-now {
        background-position: 0 -533px !important;
    }

    .sprite3.run-pause {
        background-position: 0 -559px !important;
    }

    .sprite3.run-stop {
        background-position: 0 -585px !important;
    }

    .sprite3.screen {
        background-position: 0 -611px !important;
    }

    .sprite3.Session_Fail {
        background-position: 0 -637px !important;
    }

    .sprite3.Session_Incomplete {
        background-position: 0 -663px !important;
    }

    .sprite3.Session_InProgress {
        background-position: 0 -715px !important;
    }

    .sprite3.Session_NotExecuted {
        background-position: 0 -715px !important;
    }

    .sprite3.Session_Pass {
        background-position: 0 -741px !important;
    }

    .sprite3.step-in-Copy {
        background-position: 0 -767px !important;
    }

    .sprite3.step-in {
        background-position: 0 -793px !important;
    }

    .sprite3.step-over-Copy {
        background-position: 0 -819px !important;
    }

    .sprite3.step-over {
        background-position: 0 -845px !important;
    }

    .sprite3.tep-out-Copy {
        background-position: 0 -871px !important;
    }

    .sprite3.tep-out {
        background-position: 0 -897px !important;
    }

    .sprite3.true {
        background-position: 0 -923px !important;
    }

    .sprite3.Session_SkippedOver {
        background-position: 0 -949px !important;
    }



/******************** *************************/
.jstree-anchor > .jstree-themeicon.sprite2,
.jstree-anchor > .jstree-themeicon.sprite3,
.jstree-anchor > .jstree-themeicon.acsprite2 {
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 2px;
}


#divRecentlyVisitedArtifact .reboot-Table-Body-B .sprite2, #divRecentlyVisitedArtifact .reboot-Table-Body-B .sprite3 {
    float: left;
}

.sprite_Left {
    float: left;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.TreeNodeTab .sprite2, .TreeNodeTab .sprite3 {
    position: absolute;
    left: -10px;
    top: 6px;
}

.vakata-context li > a > i.sprite2,
.vakata-context li > a > i.sprite3,
.vakata-context li > a > i.acsprite2 {
    top: 7px;
    margin-right: 18px;
    position: relative;
    left: 10px;
}


.dropdown-menu.vakata-context li > a:hover, .dropdown-menu.vakata-context li > a:focus {
    position: relative;
    background-color: #e8eff7 !important;
    -moz-box-shadow: 0 0 2px #0a6aa1 !important;
    -webkit-box-shadow: 0 0 2px #0a6aa1 !important;
    box-shadow: 0 0 2px #0a6aa1 !important;
    color: #000 !important;
}

.dropdown-menu.vakata-context li > a > i i.sprite, .dropdown-menu.vakata-context li > a > i i.singleSprite {
    margin-top: 9px;
    width: 16px;
    height: 16px;
}



/*********************************************/

.jstree-icon.resultsprite {
    background: url(/icons/sprite/ResultSprite.png) no-repeat top left !important;
    width: 22px !important;
    height: 22px !important;
}



.resultsprite.Pass {
    background-position: 0 -685px !important;
}

.resultsprite.NotExecuted {
    background-position: 0 -668px !important;
}

.resultsprite.Incomplete {
    background-position: 0 -650px !important;
}

.resultsprite.Fail {
    background-position: 0 -631px !important;
}

.resultsprite.SkippedOver {
    background-position: 0 -1181px !important;
}
/**************/
.resultsprite.InProgress {
    background-position: 0 -1718px !important;
}
/**************/


.resultsprite.Pass.Suite {
    background-position: 0 0 !important;
}
/*******************/
.resultsprite.Fail.Suite {
    background-position: 0 -480px !important;
}

.resultsprite.Incomplete.Suite {
    background-position: 0 -320px !important;
}

.resultsprite.NotExecuted.Suite {
    background-position: 0 -160px !important;
}

.resultsprite.SkippedOver.Suite {
    background-position: 0 -1202px !important;
}

.resultsprite.InProgress.Suite {
    background-position: 0 -1438px !important;
}
/*-----------------------------*/

.resultsprite.Pass.Gherkin {
    background-position: 0 -32px !important;
}

.resultsprite.NotExecuted.Gherkin {
    background-position: 0 -192px !important;
}

.resultsprite.Incomplete.Gherkin {
    background-position: 0 -352px !important;
}

.resultsprite.Fail.Gherkin {
    background-position: 0 -512px !important;
}

.resultsprite.SkippedOver.Gherkin {
    background-position: 0 -1226px !important;
}
/*************/
.resultsprite.Gherkin.InProgress {
    background-position: 0 -1469px !important;
}
/*-----------------------------*/

.resultsprite.Pass.Flow {
    background-position: 0 -2369px !important;
}

.resultsprite.NotExecuted.Flow {
    background-position: 0 -2458px !important;
}

.resultsprite.Incomplete.Flow {
    background-position: 0 -2428px !important;
}

.resultsprite.Fail.Flow {
    background-position: 0 -2399px !important;
}

.resultsprite.SkippedOver.Flow {
    background-position: 0 -2584px !important;
}



.resultsprite.ManualFlow {
    background-position: 0 2674px !important;
}

.resultsprite.Pass.ManualFlow {
    background-position: 0 -2704px !important;
}

.resultsprite.NotExecuted.ManualFlow {
    background-position: 0 -2793px !important;
}

.resultsprite.Incomplete.ManualFlow {
    background-position: 0 -2763px !important;
}

.resultsprite.Fail.ManualFlow {
    background-position: 0 -2734px !important;
}

.resultsprite.SkippedOver.ManualFlow {
    background-position: 0 -2614px !important;
}


.resultsprite.Pass.FlowOptional {
    background-position: 0 -64px !important;
}

.resultsprite.NotExecuted.FlowOptional {
    background-position: 0 -224px !important;
}

.resultsprite.Incomplete.FlowOptional {
    background-position: 0 -384px !important;
}

.resultsprite.Fail.FlowOptional {
    background-position: 0 -544px !important;
}

.resultsprite.SkippedOver.FlowOptional {
    background-position: 0 -1250px !important
}


/*************/
.resultsprite.InProgress.Flow {
    background-position: 0 -1565px !important;
}
/*-----------------------------*/



.resultsprite.Pass.DataSet {
    background-position: 0 -96px !important;
}

.resultsprite.NotExecuted.DataSet {
    background-position: 0 -256px !important;
}

.resultsprite.Incomplete.DataSet {
    background-position: 0 -416px !important;
}

.resultsprite.Fail.DataSet {
    background-position: 0 -576px !important;
}

.resultsprite.SkippedOver.DataSet {
    background-position: 0 -1275px !important;
}
/*************/
.resultsprite.DataSet.InProgress {
    background-position: 0 -1533px !important;
}
/*-----------------------------*/

.resultsprite.Pass.Component {
    background-position: 0 -1933px !important;
}

.resultsprite.NotExecuted.Component {
    background-position: 0 -2015px !important;
}

.resultsprite.Incomplete.Component {
    background-position: 0 -1986px !important;
}

.resultsprite.Fail.Component {
    background-position: 0 -1957px !important;
}

.resultsprite.SkippedOver.Component {
    background-position: 0 -2493px !important;
}




.resultsprite.SkippedOver.Component {
    background-position: 0 -1301px !important;
}
/*************/
.resultsprite.Component.InProgress {
    background-position: 0 -1565px !important;
}
/*-----------------------------*/

.resultsprite.CodedFunction {
    background-position: 0 -1931px !important;
}

.resultsprite.Pass.CodedFunction {
    background-position: 0 -2220px !important;
}

.resultsprite.NotExecuted.CodedFunction {
    background-position: 0 -2309px !important;
}

.resultsprite.Incomplete.CodedFunction {
    background-position: 0 -2280px !important;
}

.resultsprite.Fail.CodedFunction {
    background-position: 0 -2249px !important;
}

.resultsprite.SkippedOver.CodedFunction {
    background-position: 0 -2553px !important;
}

/*************/
.resultsprite.InProgress.CodedFunction {
    background-position: 0 -1565px !important;
}
/*-----------------------------*/



.resultsprite.Pass.ManualComponent {
    background-position: 0 -2074px !important;
}

.resultsprite.NotExecuted.ManualComponent {
    background-position: 0 -2162px !important;
}

.resultsprite.Incomplete.ManualComponent {
    background-position: 0 -2134px !important;
}

.resultsprite.Fail.ManualComponent {
    background-position: 0 -2102px !important;
}

.resultsprite.SkippedOver.ManualComponent {
    background-position: 0 -2522px !important;
}
/*************/
.resultsprite.InProgress.ManualComponent {
    background-position: 0 -1565px !important;
}
/*-----------------------------*/



.resultsprite.Pass.Datasheet {
    background-position: 0 -709px !important;
}

.resultsprite.NotExecuted.Datasheet {
    background-position: 0 -799px !important;
}

.resultsprite.Incomplete.Datasheet {
    background-position: 0 -769px !important;
}

.resultsprite.Fail.Datasheet {
    background-position: 0 -739px !important;
}

.resultsprite.SkippedOver.Datasheet {
    background-position: 0 -1330px !important;
}

.resultsprite.Datasheet.InProgress {
    background-position: 0 -1596px !important;
}
/*-----------------------------*/

.resultsprite.Pass.FlowStepGroup {
    background-position: 0 -862px !important;
}

.resultsprite.NotExecuted.FlowStepGroup {
    background-position: 0 -709px !important;
}

.resultsprite.Incomplete.FlowStepGroup {
    background-position: 0 -927px !important;
}

.resultsprite.Fail.FlowStepGroup {
    background-position: 0 -895px !important;
}

.resultsprite.SkippedOver.FlowStepGroup {
    background-position: 0 -1357px !important;
}

.resultsprite.FlowStepGroup.InProgress {
    background-position: 0 -1626px !important;
}
/*-----------------------------*/

.resultsprite.Pass.FlowStepGroupIteration {
    background-position: 0 -985px !important;
}

.resultsprite.NotExecuted.FlowStepGroupIteration {
    background-position: 0 -958px !important;
}

.resultsprite.Incomplete.FlowStepGroupIteration {
    background-position: 0 -1044px !important;
}

.resultsprite.Fail.FlowStepGroupIteration {
    background-position: 0 -1014px !important;
}

.resultsprite.SkippedOver.FlowStepGroupIteration {
    background-position: 0 -1384px !important;
}

.resultsprite.FlowStepGroup.InProgress {
    background-position: 0 -1655px !important;
}
/*-----------------------------*/


.resultsprite.Pass.BP_Group {
    background-position: 0 -1072px !important;
}

.resultsprite.NotExecuted.BP_Group {
    background-position: 0 -1128px !important;
}

.resultsprite.Incomplete.BP_Group {
    background-position: 0 -1155px !important;
}

.resultsprite.Fail.BP_Group {
    background-position: 0 -1100px !important;
}

.resultsprite.SkippedOver.BP_Group {
    background-position: 0 -1409px !important;
}

.resultsprite.FlowStepGroup.InProgress {
    background-position: 0 -1687px !important;
}
/*-----------------------------*/




.resultsprite.Pass.Sparkin {
    background-position: 0 -1823px !important;
}
/*-----------------------------*/
.resultsprite.NotExecuted.Sparkin {
    background-position: 0 -1769px !important;
}
/*-----------------------------*/
.resultsprite.Incomplete.Sparkin {
    background-position: 0 -1741px !important;
}
/*-----------------------------*/
.resultsprite.Fail.Sparkin {
    background-position: 0 -1853px !important;
}
/*-----------------------------*/
.resultsprite.SkippedOver.Sparkin {
    background-position: 0 -1797px !important;
}
/*-----------------------------*/
.resultsprite.InProgress.Sparkin {
    background-position: 0 -1882px !important;
}
/*-----------------------------*/




/*.resultsprite.SkipOver{ background-position: 0 -1182px !important;}*/






#JsTreeExecutionGrid.jstree-default-dark .jstree-clicked, #JsTreeExecutionGrid.jstree-default-dark .jstree-hovered {
    background: #ccdeff;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #97c9e0;
    color: #000;
}


/* use css for impact-analysis on SAAS & Accelerator actions button of Internal Impact*/

.button-cell {
    text-overflow: unset !important;
    text-align: center;
    line-height: 1.2em !important;
}

.btn-impacted {
    border: none;
    padding: 1px 10px;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #00abec;
}
.btn-impacted img {
     width:17px;
     height:17px;
}    

.btnchecker, .Dismis, .chk, .btnreview {
    border: none;
    border-radius: 3px;
    padding: 2px 7px;
}

    .btnchecker:hover, .Dismis:hover, .chk:hover, .btnreview:hover, .reviewAll:hover, .btnchecker:focus, .Dismis:focus, .chk:focus, .btnreview:focus {
        background-color: lightblue;
    }

    .btnchecker:active, .Dismis:active, .chk:active, .btnreview:active {
        box-shadow: 0px 2px 4px #444444;
    }

.internal-impact-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/Assets/images/ImpactAnalysis/sheet.png');
    background-repeat: no-repeat;
    background-position: top left;
}

    .internal-impact-icon.higligh {
        background-position: 0px 0px;
    }

    .internal-impact-icon.dismisicon {
        background-position: -19px 0px;
    }

    .internal-impact-icon.viewchk {
        background-position: -39px 0px;
    }

    .internal-impact-icon.viewbtnreview {
        background-position: -39px 0px;
    }
    /*icons used in new surge*/
.sprite2.FolderSurge {
    background-position: 0 -2418px !important;
}
.sprite2.Requirement {
    background-position: 0 -2308px !important;
}

.sprite2.AddRequirement {
    background-position: 0 -2302px !important;
}

.sprite2.DeleteRequirement {
    background-position: 0px -2361px !important;
}

.sprite2.RenameRequirement {
    background-position: 0px -2335px !important;
}

.sprite2.TestCycle {
    background-position: 0 -3236px !important;
}

.sprite2.AddTestCycle {
    background-position: 0 -3262px !important;
}

.sprite2.DeleteTestCycle {
    background-position: 0 -3285px !important;
}

.sprite2.RenameTestCycle {
    background-position: 0 -3310px !important;
}
.sprite2.CloneTestCycle {
    background-position: 0 -3333px !important;
}
.sprite2.Release {
    background-position: 0 -2208px !important;
}

.sprite2.AddRelease {
    background-position: 0 -2233px !important;
}

.sprite2.DeleteRelease {
    background-position: 0 -2257px !important;
}

.sprite2.RenameRelease {
    background-position: 0 -2280px !important;
}
/*end*/