/******msg popup when min window******/
.min-popup-win div.msgBox {
    max-width: 430px !important;
    position: absolute;
    top: 28%;
    left: 3%;
}

.min-popup-win div.msgBoxContent {
    white-space: normal !important;
}
/**************************/

div.msgBox {
    /* padding: 4px 10px 10px 10px; */
    position: fixed;
    z-index: 1050;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width: 430px;
    max-width: 740px;
    min-height: 140px;
    color: transparent;
    text-shadow: 0 0 0 #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    background-color: #fff;
    margin: auto;
    position: relative;
}

div.msgBoxBackGround {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    opacity: 1;
    z-index: 9999999999999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.msgBoxTitle {
    padding: 4px 0 2px 0;
    /* font-variant: small-caps; */
    font-size: 16px;
    color: transparent;
    text-shadow: 0 0 0 #00335e;
    border-bottom: 1px solid #d8d8d8;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 5px;
}

.msgBoxContainer {
    padding-top: 10px;
    white-space: pre;
    overflow: auto;
    max-height: 350px;
}

/* .msgBoxIcon {
    margin-bottom: 16px;
} */

div.msgBoxContent {
    font-size: 11pt;
    /* text-align: center; */
    width: auto !important;
    height: auto !important;
    font-family: verdana;
    white-space: pre;
    position: relative;
    z-index: 1;
}

    div.msgBoxContent p {
        padding: 0;
        margin: 0;
        display: table;
        height: 100%;
        width: 100%;
    }

    div.msgBoxContent span {
        display: table-cell;
        vertical-align: middle;
        color: #00335e;
    }

/* Content class for IE7*/

div.msgBoxContentIEOld {
    font-size: 11pt;
    margin: 0 3px 6px 3px;
    display: inline-block;
    float: left;
    height: 90px;
    width: 319px;
    position: relative;
}

    div.msgBoxContentIEOld p {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
    }

    div.msgBoxContentIEOld span {
        position: relative;
        top: -50%;
    }

/* Content class for IE7*/

div.msgBoxButtons {
    width: 100%;
    /* text-align: center; */
    margin-top: 10px !important;
}

    div.msgBoxButtons .msgButton {
        cursor: pointer;
        margin: 2px 5px;
        height: 35px;
        width: 90px;
        /* border: 1px solid #2b58a9;
        background-color: #2b58a9; */
        color: transparent;
        text-shadow: 0 0 0 #FFFFFF;
        border-radius: 3px;
        outline: none;
        font-size: 14px;
        text-transform: capitalize;
    }

    div.msgBoxButtons .msgBoxfullscreen {
        border-color: #cecece;
        background-color: #ececec;
        color: #2d2d2d;
    }

    /*"Yes" button on "Message box" popup ----------green */
    /* div.msgBoxButtons .msgButton.Yes {
        color: #fff;
        background-color: #5cb85c !important;
        border-color: #5cb85c !important;
    } */

    /*"Save" button on "Message box" popup --------green*/
    /* div.msgBoxButtons .msgButton.Save {
        color: #fff;
        background-color: #5cb85c !important;
        border-color: #5cb85c !important;
    } */

    /*"Retain" button on "Message box" popup --------green*/
    /* div.msgBoxButtons .msgButton.Retain {
        color: #fff;
        background-color: #5cb85c !important;
        border-color: #5cb85c !important;
    } */

    div.msgBoxButtons .msgButton.No {
        border-color: #B30000;
        background-color: #B30000;
    }

    /*"Delete" button on "Message box" popup */
    div.msgBoxButtons .msgButton.Delete {
        border: 1px solid #B30000 !important;
        background-color: #B30000 !important;
    }

input.msgButton.Open.Existing.Draft {
    border-color: #afafaf;
    background-color: #dcdcdc;
    width: 145px;
    color: #000;
}

div.msgBoxButtons .msgButton.cancel,
div.msgBoxButtons .msgButton.Cancel {
    border-color: #cecece;
    /* background-color: #ececec; */
    color: transparent;
    text-shadow: 0 0 0 #2d2d2d;
}


div.msgBoxInputs {
    padding-top: 5px;
}

div.msgInput input[type='text'], div.msgInput input[type='password'] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

div.msgInput text {
    color: #2f2f2f;
    font-size: 10pt;
}

div.msgBox.MSGfullscreenWidth {
    width: 85%;
    max-width: none;
    height: 85%;
}

    div.msgBox.MSGfullscreenWidth .msgBoxFakeDiv {
        height: calc(100% - 28px);
    }

    div.msgBox.MSGfullscreenWidth .msgBoxContainer {
        max-height: none;
        height: calc(100% - 98px);
    }

        div.msgBox.MSGfullscreenWidth .msgBoxContainer .msgBoxContainerHeight {
            height: 100% !important;
            max-height: none !important;
        }

div.msgBoxFakeDiv .msgBoxContainer .MSGScrollAuto {
    overflow: inherit !important;
}
/******************************/
/* div.msgBoxButtons input[type='button']:hover {
}

div.msgBoxButtons input[type='button']:active {
} */

div.msgBoxButtons input[type='button']:focus {
    outline: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

div.msgBoxButtons input[type='button']::-moz-focus-inner /*remove firefox inner outline*/ {
    outline: none;
    border: none;
}

@-webkit-keyframes glowing {
    0% {
    }

    50% {
        box-shadow: 0 0 6px #000000;
    }

    100% {
    }
}

@-moz-keyframes glowing {
    0% {
    }

    50% {
        box-shadow: 0 0 6px #000000;
    }

    100% {
    }
}

@-o-keyframes glowing {
    0% {
    }

    50% {
        box-shadow: 0 0 6px #000000;
    }

    100% {
    }
}

@keyframes glowing {
    0% {
    }

    50% {
        box-shadow: 0 0 6px #000000;
    }

    100% {
    }
}


/********************* gkt css ***************************************/

.op-icon {
    width: 80px;
    height: 80px;
    border: 4px solid transparent;
    border-radius: 50%;
    position: relative;
    box-sizing: content-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    white-space: normal;
}

    .op-icon.op-error {
        border-color: #f27474
    }

        .op-icon.op-error .op-x-mark {
            position: relative;
            display: block
        }

        .op-icon.op-error [class^=op-x-mark-line] {
            position: absolute;
            height: 5px;
            width: 47px;
            background-color: #f27474;
            display: block;
            top: 37px;
            border-radius: 2px
        }

            .op-icon.op-error [class^=op-x-mark-line][class$=left] {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 17px
            }

            .op-icon.op-error [class^=op-x-mark-line][class$=right] {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                right: 16px
            }

    .op-icon.op-warning {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #f8bb86;
        border-color: #facea8;
        font-size: 60px;
        line-height: 80px;
        text-align: center
    }

    .op-icon.op-info {
        font-family: 'Open Sans', sans-serif;
        color: #f66060;
        border-color: #f66060;
        font-size: 60px;
        line-height: 80px;
        text-align: center
    }

    .op-icon.op-question {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: transparent;
        text-shadow: 0 0 0 #4E7B8D;
        border-color: #c9dae1;
        font-size: 60px;
        line-height: 80px;
        text-align: center
    }

    .op-icon.op-success {
        border-color: #a5dc86
    }

        .op-icon.op-success [class^=op-success-circular-line] {
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
        }

            .op-icon.op-success [class^=op-success-circular-line][class$=left] {
                border-radius: 120px 0 0 120px;
                top: -7px;
                left: -33px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: 60px 60px;
                transform-origin: 60px 60px
            }

            .op-icon.op-success [class^=op-success-circular-line][class$=right] {
                border-radius: 0 120px 120px 0;
                top: -11px;
                left: 30px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: 0 60px;
                transform-origin: 0 60px
            }

        .op-icon.op-success .op-success-ring {
            width: 80px;
            height: 80px;
            border: 4px solid rgba(165,220,134,.2);
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2
        }

        .op-icon.op-success .op-success-fix {
            width: 7px;
            height: 90px;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

        .op-icon.op-success [class^=op-success-line] {
            height: 5px;
            background-color: #a5dc86;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 2
        }

            .op-icon.op-success [class^=op-success-line][class$=tip] {
                width: 25px;
                left: 14px;
                top: 46px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg)
            }

            .op-icon.op-success [class^=op-success-line][class$=long] {
                width: 47px;
                right: 8px;
                top: 38px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }



@-webkit-keyframes animate-error-icon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1
    }
}

@keyframes animate-error-icon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1
    }
}

.op-animate-error-icon {
    -webkit-animation: animate-error-icon .5s;
    animation: animate-error-icon .5s
}

@-webkit-keyframes animate-x-mark {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    80% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        margin-top: -6px
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        margin-top: 0;
        opacity: 1
    }
}

@keyframes animate-x-mark {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    80% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        margin-top: -6px
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        margin-top: 0;
        opacity: 1
    }
}

.op-animate-x-mark {
    -webkit-animation: animate-x-mark .5s;
    animation: animate-x-mark .5s
}

.op-animate-success-line-tip {
    -webkit-animation: animate-success-tip .75s;
    animation: animate-success-tip .75s
}

.op-animate-success-line-long {
    -webkit-animation: animate-success-long .75s;
    animation: animate-success-long .75s
}

.swal2-success.swal2-animate-success-icon .swal2-success-circular-line-right {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in
}

@-webkit-keyframes animate-success-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px
    }
}

@keyframes animate-success-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px
    }
}

@-webkit-keyframes animate-success-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px
    }

    84% {
        width: 55px;
        right: 0;
        top: 35px
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px
    }
}

@keyframes animate-success-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px
    }

    84% {
        width: 55px;
        right: 0;
        top: 35px
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px
    }
}

/************************/
@-webkit-keyframes showSweetAlert {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes showSweetAlert {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes hideSweetAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }
}

@keyframes hideSweetAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }
}

.op-MSGshow {
    -webkit-animation: showSweetAlert .3s;
    animation: showSweetAlert .3s
}

    .op-MSGshow.op-noanimation {
        -webkit-animation: none;
        animation: none
    }

.op-MSGhide {
    -webkit-animation: hideSweetAlert .15s forwards;
    animation: hideSweetAlert .15s forwards
}

    .op-MSGhide.op-noanimation {
        -webkit-animation: none;
        animation: none
    }

.msgBoxfullscreen {
    display: none;
}

    .msgBoxfullscreen:first-child {
        display: block;
    }

.msgBoxButtons .close {
    opacity: 1;
    float: inherit;
}

/********************new css*****************/
.font_20px {
    font-size: 20px;
}

div.msgBox {
    display: flex;
    padding: 20px;
}

div.msgBoxTitle {
    display: none;
}

.msgBoxIcon {
    margin-bottom: 0px;
}

.msgBoxFakeDiv {
    width: calc(100% - 20px);
    padding-top: 12px;
    padding-left: 15px;
}

.msgheader {
    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
    font-size: 20px;
}

/*msg container css*/
.msgBoxContainer {
    padding-top: 0px;
}

/*msg content css*/
div.msgBoxContent {
    text-align: left !important;
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

/*msg btn css*/
div.msgBoxButtons {
    text-align: right;
}

div.msgBoxButtons .msgButton {
    border: 1px solid #116173;
    background-color: #116173;
}

/*"Yes" button on "Message box" popup ----------green */
  div.msgBoxButtons .msgButton.Yes {
    color: #fff;
    background-color: #116173 !important;
    border-color: #116173 !important;
}

/*"Save" button on "Message box" popup --------green*/
div.msgBoxButtons .msgButton.Save {
    color: #fff;
    background-color: #116173 !important;
    border-color: #116173 !important;
}

/*"Retain" button on "Message box" popup --------green*/
div.msgBoxButtons .msgButton.Retain {
    color: #fff;
    background-color: #116173 !important;
    border-color: #116173 !important;
}

div.msgBoxButtons .msgButton.cancel,
div.msgBoxButtons .msgButton.Cancel {
    background-color: #fff;
}

/*msg icon css*/
.icon_box {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.875rem;
}

.icon_box.warning-iconBox {
    background-color: #fef0c7 !important;
}

.icon_box.info-iconBox {
    background-color: #C9F7FE !important;
}

.icon_box.error-iconBox {
    background-color: #FEE4E2 !important;
}

.icon_box.success-iconBox {
    background-color: #D1FADF !important;
}

.icon_box.confirm-iconBox {
    background-color: #fef0c7 !important;
}

.icon_box.none-iconBox {
    background-color: #C9F7FE !important;
}

.icon_box.delete-iconBox {
    background-color: #FEE4E2 !important;
}

/********************new css*****************/
