<plugin>
	<Name>OracleFusion</Name>
	<PluginID>e6d6118f-e995-49dc-a003-53a120143739</PluginID>
	<Description>Oracle Fusion Plugin</Description>
	<Vendor>CresTech</Vendor>
	<Version>0.1.0.14510</Version>
	<KeywordSetVersion>27</KeywordSetVersion>
	<DegreeOfParallelism>2</DegreeOfParallelism>
	<CommunicationProtocol>NAMED_PIPE_v01</CommunicationProtocol>
	<CanTakeSnapshot>1</CanTakeSnapshot>
	<LicenseIdentifier>[X,1,3xw/RCbxvddC]G8YRb9ubp//pvpNc2TJzV9x/3xB2Ia3VnAGqeehmybRFB+1Z3gpxx4Ux0uJC7V/xBdsMISqEZZ+ZPVQa1mx4Ou6euiOUR52eowu1qIBkVnyzoD5SXHv+hLRFKGbC1NdS1zwtSPYY+Mu8TryhmA7KVfNRUVwIHHhis3ffD0Z6fx7zzh5yNNOabSElCrOWra9d</LicenseIdentifier>
	<TrialLicenceCode>FgKFAeD2KuaMMNQBHgABAAEIjIqb+aH2vRSPHPCXiAoUhT38fx35sJA3njvRpp2PT0PSptLcZjfCfWKsoddP4qQz</TrialLicenceCode>

	<DefaultLibraries>
		<lib>../libs/PluginBase/opkey-pluginbase-v2.0-jar-with-dependencies.jar</lib>
		<lib>OracleFusion-0.1.jar</lib>
		<lib>../Web/Web-3.141.59.jar</lib>

		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-api-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-chrome-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-edge-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-firefox-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-ie-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-java-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-opera-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-remote-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-safari-driver-3.141.59.jar</lib>
		<lib>../libs/Selenium/selenium-java-3.141.59/selenium-support-3.141.59.jar</lib>

	</DefaultLibraries>

	<Invocation>
		<PrerequisiteCheckExecutable>OracleFusionLauncher.exe</PrerequisiteCheckExecutable>
		<PrerequisiteCheckArguments>-PrerequisiteCheck $PluginSettingXmlPath$ opkey-pluginbase-v2.0-jar-with-dependencies.jar $DefaultPluginLocation$</PrerequisiteCheckArguments>

		<ExecutablePath>OracleFusionLauncher.exe</ExecutablePath>
		<Arguments>OracleFusion-0.1.jar $PluginSettingXmlPath$ $DefaultPluginLocation$</Arguments>
	</Invocation>

	<Settings>
		<Setting>
			<Name>XMLHttpRequestTimeOut</Name>
			<DataType>Integer</DataType>
			<Description>Provide Wait(in seconds) for XMLHttpRequest to complete. Default WaitTime is 5 seconds</Description>
			<Mandatory>false</Mandatory>
			<Value>30</Value>
		</Setting>
		<Setting>
			<Name>UseWaitForPageLoad</Name>
			<DataType>Boolean</DataType>
			<Description>Check this to wait for page load.</Description>
			<Value>true</Value>
		</Setting>
		<Setting>
			<Name>UseWaitForAngularLoad</Name>
			<DataType>Boolean</DataType>
			<Description>Check this to wait for Angular to load</Description>
			<Value>true</Value>
		</Setting>
		<Setting>
			<Name>UseWaitForJQueryLoad</Name>
			<DataType>Boolean</DataType>
			<Description>Check this to wait for JQuery to load</Description>
			<Value>true</Value>
		</Setting>
		<Setting>
			<Name>UseWaitForXMLHttpRequestLoad</Name>
			<DataType>Boolean</DataType>
			<Description>Check this to wait for XMLHttpRequest to load</Description>
			<Value>true</Value>
		</Setting>
		<Setting>
			<Name>EnableImpactAnalysis</Name>
			<DataType>Boolean</DataType>
			<Description>Check this to enable Impact Analysis.</Description>
			<Value>false</Value>
        	</Setting>
		<Setting>
			<Name>ChromeDriverPath</Name>
			<DataType>String</DataType>
			<IsPath>true</IsPath>
			<Description>Give the ChromeDriver.exe path according to the version of Google Chrome used. Provide if you are using Google Chrome.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>IEDriverPath</Name>
			<DataType>String</DataType>
			<IsPath>true</IsPath>
			<Description>Give the IEDriver.exe path according to the version of Internet Explorer used. Provide if you are using Internet Explorer.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>FirefoxDriverPath</Name>
			<DataType>String</DataType>
			<IsPath>true</IsPath>
			<Description>Give the GeckoDriver.exe path according to the version of Firefox used. Provide if you are using Firefox.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>EdgeDriverPath</Name>
			<DataType>String</DataType>
			<IsPath>true</IsPath>
			<Description>Give the MicrosoftWebDriver.exe path according to the version of MicrosoftEdge Browser used. Provide if you are using Microsoft Edge .</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>OperaDriverPath</Name>
			<DataType>String</DataType>
			<IsPath>true</IsPath>
			<Description>Give the OperaDriver.exe path according to the version of Opera used. Provide if you are using Opera.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>Host</Name>
			<DataType>String</DataType>
			<IsPath>false</IsPath>
			<Description>Give the Host Address of the Remote SeleniumWebdriver Hub.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>Port</Name>
			<DataType>Integer</DataType>
			<IsPath>false</IsPath>
			<Description>Give the Port Number of the Remote SeleniumWebdriver Hub.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>ProxyHost</Name>
			<DataType>String</DataType>
			<IsPath>false</IsPath>
			<Description>Give the Host Address of the Proxy Server, if needed.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>ProxyPort</Name>
			<DataType>Integer</DataType>
			<IsPath>false</IsPath>
			<Description>Give the Port Number of the Proxy Server, if needed.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>JavaPath</Name>
			<DataType>String</DataType>
			<IsPath>false</IsPath>
			<Description>Provide Java Path including java.exe.</Description>
			<Mandatory>false</Mandatory>
		</Setting>
		<Setting>
			<Name>EnableObiqJourneyRecording</Name>
			<DataType>Boolean</DataType>
			<Description>Enable this if you want to record journey in Opkey OBIQ.</Description>
			<Value>false</Value>
		</Setting>
	</Settings>
</plugin>