div#content {
  height: 100%;
}section.copy {
    height: 100%;
}
section.copy {
  height: 100%;
}
.figure-wrapper {
  height: 100%;
}
.image-container {
 
  height: 100%;
  
}
.image-container img {
  max-width: 100%;
}

.image-container .image-meta {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
}
.image-container .image-meta a {
  text-decoration: none;
  color: #444;
}
.image-container .image-meta a:hover .image-meta-title {
  text-decoration: underline;
}


div#darkroom-icons {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1111;
}
img#objectImage {
  max-width: 100%;
  max-height: 100px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  padding: 2px;
  border-radius: 3px;
  background: #fff;
}
/******************/
.darkroom-container {
  position: relative;
  background: white;
  padding: 1px;
  height: 100%;
  padding-top: 45px;
}
.darkroom-image-container {
  height: 100%;        overflow: scroll;
}
.darkroom-toolbar {
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  background: #444;
  height: 40px;
  min-width: 40px;
  z-index: 99;
  border-radius: 2px;
  white-space: nowrap;
  padding: 0 5px;
  width: calc(100% - 4px);
}
.darkroom-toolbar:before {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 20px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #444
}
.darkroom-button-group {
	display: inline-block;
	margin: 0;
	padding: 0
}
.darkroom-button-group:last-child {
	border-right: none
}
.darkroom-button {
	box-sizing: border-box;
	background: transparent;
	border: none;
	outline: none;
	padding: 2px 0 0 0;
	width: 40px;
	height: 40px
}
.darkroom-button:hover {
	cursor: pointer;
	background: #555
}
.darkroom-button:active {
	cursor: pointer;
	background: #333
}
.darkroom-button:disabled .darkroom-icon {
	fill: #666
}
.darkroom-button:disabled:hover {
	cursor: default;
	background: transparent
}
.darkroom-button.darkroom-button-active .darkroom-icon {
	fill: #33b5e5
}
.darkroom-button.darkroom-button-hidden {
	display: none
}
.darkroom-button.darkroom-button-success .darkroom-icon {
	fill: #99cc00
}
.darkroom-button.darkroom-button-warning .darkroom-icon {
	fill: #FFBB33
}
.darkroom-button.darkroom-button-danger .darkroom-icon {
	fill: #FF4444
}
.darkroom-icon {
	width: 24px;
	height: 24px;
	fill: #fff
}
